<h1>
  Random Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%= @the_result %>
  </dd>

  <a href = "/random/new">
    Pick another random number
  </a>

</dl>
